# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Related work
sgcc-main

# Test files
agglomerative-clustering.py

# Specific formats
*.png
*.xlsx
*.csv

# Datasets
datasets/cub200/
datasets/dogs/
datasets/corel5k
